<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Onde está a ISS?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Posição atual do ISS
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-sm-4>
                        <b>Latitude:</b>
                    </ion-col>
                    <ion-col col-8>
                        {{latitude}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-sm-4>
                        <b>Longitude:</b>
                    </ion-col>
                    <ion-col col-8>
                        {{longitude}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>